*{
  background: tan;
}

div #main-title {
  text-align: center;
  background-color: gold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#subtitle{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 8em;
}

li{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 10em;
}

ul{
    margin-top: 4%;
}

.main-link{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-link {
  display: flex;
  background-color: gray;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-top: 5em;
  border-radius: 5cm;
  width: 150px;
  text-decoration: none;
  font-family: sans-serif;
  color: black;
  font-size: larger;
}
