body{
  background: thistle;
}
.header{
  background: mistyrose;
  border: 2px solid rebeccapurple;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul{
  font-size: 35px;
  align-items: center;
  font-family: monospace;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 15px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}
div{
  display: flex;
  align-items: center;
  justify-content: center;
}
div #main-title {
  border-radius: 2em;
  padding: 8px;
  text-align: center;
  background-color: papayawhip;
  font-family: monospace;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#subtitle{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 8em;
}

li{
  display: inline-flex;
   list-style-type: none;
   padding: 2px;
}

ul{
    margin-top: 4%;
}

.main-link{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-link {
  display: flex;
  background-color: gray;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-top: 5em;
  border-radius: 5cm;
  width: 150px;
  text-decoration: none;
  font-family: sans-serif;
  color: black;
  font-size: larger;
}

